@import url('https://fonts.googleapis.com/css?family=Niramit:300,700');

body{
	font-family: 'Niramit', sans-serif;
	font-weight: 300;
}
/*   S T Y L E S    M A I N     C O M P O N E N T S       */

img, .max50, .max60{
	max-width: 100%
}
img.max80{
  max-width: 80%;
}

a{
 	text-decoration: none;
 }
 ul.no-style{
  list-style: none;
  padding-left: 20px;
  text-align: left !important;
 }

 .section-padding{
 	padding-top: 90px;
 	padding-bottom: 90px;
 }
  .section-padding-b{
 	padding-bottom: 60px;
 }

 @media (min-width: 768px) {
 	.max50{
 		max-width: 50%;
 	}
 	.max60{
 		max-width: 60%;
 	}

 }

/*   S T Y L E S      H E I G H T S          */

.h100{
	min-height: 100vh;
}
.h85{
	min-height: 85vh;
}
.h75{
	min-height: 75vh;
}
.h50{
	min-height: 50vh;
}
.h40{
	min-height: 40vh;
}

/*   S T Y L E S    B A C K G R O U N D S       */

.bg-black{
	background-color: #000;
}
.bg-gray{
	background-color: #F0F0F0;
}
.bg-red{
    background-color: #7b328b;
}
.bg-gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f43030+0,2667f2+100,5a8bed+100,2667f2+100,5387ef+100,f43030+100,f43030+100,961c1e+100,7db9e8+100,2781f7+100,f43030+101,f43030+102 */
background: #f43030; /* Old browsers */
background: -moz-linear-gradient(left, #f43030 0%, #2667f2 100%, #5a8bed 100%, #2667f2 100%, #5387ef 100%, #f43030 100%, #f43030 100%, #961c1e 100%, #7db9e8 100%, #2781f7 100%, #f43030 101%, #f43030 102%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f43030 0%,#2667f2 100%,#5a8bed 100%,#2667f2 100%,#5387ef 100%,#f43030 100%,#f43030 100%,#961c1e 100%,#7db9e8 100%,#2781f7 100%,#f43030 101%,#f43030 102%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f43030 0%,#2667f2 100%,#5a8bed 100%,#2667f2 100%,#5387ef 100%,#f43030 100%,#f43030 100%,#961c1e 100%,#7db9e8 100%,#2781f7 100%,#f43030 101%,#f43030 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43030', endColorstr='#f43030',GradientType=1 ); /* IE6-9 */
}

.bg-gradient2{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7ad59+61,fbc60e+100,fbc60e+100,207cca+100,fbc60e+100,fbc60e+100,2989d8+100,fbc60e+100,fbc60e+102,2989d8+102,207cca+102,2989d8+102,fbc60e+103,fbc60e+103 */
background: #f7ad59; /* Old browsers */
background: -moz-linear-gradient(left, #f7ad59 61%, #fbc60e 100%, #fbc60e 100%, #207cca 100%, #fbc60e 100%, #fbc60e 100%, #2989d8 100%, #fbc60e 100%, #fbc60e 102%, #2989d8 102%, #207cca 102%, #2989d8 102%, #fbc60e 103%, #fbc60e 103%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f7ad59 61%,#fbc60e 100%,#fbc60e 100%,#207cca 100%,#fbc60e 100%,#fbc60e 100%,#2989d8 100%,#fbc60e 100%,#fbc60e 102%,#2989d8 102%,#207cca 102%,#2989d8 102%,#fbc60e 103%,#fbc60e 103%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f7ad59 61%,#fbc60e 100%,#fbc60e 100%,#207cca 100%,#fbc60e 100%,#fbc60e 100%,#2989d8 100%,#fbc60e 100%,#fbc60e 102%,#2989d8 102%,#207cca 102%,#2989d8 102%,#fbc60e 103%,#fbc60e 103%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ad59', endColorstr='#fbc60e',GradientType=1 ); /* IE6-9 */
}


.bg-healers{
  background: url(../images/healers.jpg) center no-repeat;
  background-size: cover;
}
.bg-faq{
  background: url(../images/faq.jpg) center no-repeat;
  background-size: cover;
}
.bg-brand{
  background: url(../images/brand.jpg) center no-repeat;
  background-size: cover;
}
.bg-loan{
  background: url(../images/loan.jpg) center no-repeat;
  background-size: cover;
}
.bg-about{
  background: url(../images/about.jpg) center no-repeat;
  background-size: cover;
}
.bg-contact{
  background: url(../images/contact.jpg) center no-repeat;
  background-size: cover;
}
.bg-terms{
  background: url(../images/terms.jpg) center no-repeat;
  background-size: cover;
}
.bg-privacy{
  background: url(../images/privacy.jpg) center no-repeat;
  background-size: cover;
}

/*   S T Y L E S    T E X T S       */
.max700{
	max-width: 700px;
	margin: 0 auto;
}
.text-bold{
  font-weight: 700;
}
.text-red{
	color: #7b328b;
}
.text-shadow{
  text-shadow: 1px 1px 2px #000;
}
.text-danger{
  color: #7b328b !important;
}


/*   S T Y L E S    I C O N S       */
.ti-2x{
	font-size: 2rem;
}
.ti-3x{
	font-size: 3rem;
}
.ti-4x{
	font-size: 4rem;
}
.ti-5x{
	font-size: 5rem;
}

/*   S T Y L E S    B U T T O N S       */

.btn-rounded{
	border-radius: 25px;
}

/*   S T Y L E S    I N T R O     */
.title{
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 10px;
	color: #fff;
}


.card-wini{
	border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 25px;
    position: relative;
}

.card-wini .header {
    padding: 20px 15px 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
}

.card-wini .content {
    padding: 15px 15px 10px 15px;
}

/*   S T Y L E S    W O R K     */

.row-steps{
	text-align: left;
}


@media (min-width: 768px) {
	.row-steps{
		text-align: center;
	}
}

@media (min-width: 1024px){
	.title{
		font-size: 2.5rem;
		margin-top: 80px;
	}
	.subtitle{
		font-size: 1.2rem;
	}
}




.block-shadow {
    z-index: 9;
    -webkit-box-shadow: 0 0 32px 0 rgba(122,122,122,.1);
    -moz-box-shadow: 0 0 32px 0 rgba(122,122,122,.1);
    box-shadow: 0 0 32px 0 rgba(122,122,122,.1);
    padding: 40px 30px 30px;
    background-color: #fff;
    text-align: center;
    transition: all .4s ease-in-out 0s;
    width: 100%;
    min-height: 260px;
    margin-top: 30px;
}
.block-shadow i{
	font-size: 4em;
	color: #7b328b;
}
.block-shadow h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

/*   S T Y L E S    F O R M S       */

.el-steps {
  font-size: 0;
  position: relative;
  width: 100%;
}

.el-step.is-horizontal,
.el-step__line {
  display: inline-block;
}

.el-step {
  position: relative;
  vertical-align: top;
  width: 16%;
}

.el-step__head.is-text.is-finish {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}

.el-step__head.is-text {
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
}

.el-step__head.is-finish {
  color: #20a0ff;
  border-color: #20a0ff;
}

.el-step__head {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 28px;
  font-size: 28px;
  vertical-align: top;
  transition: all .15s;
}

.el-step__line.is-horizontal {
  top: 15px;
  height: 2px;
  left: 32px;
  right: 0;
}

.el-step__line {
  position: absolute;
  border-color: inherit;
  background-color: #bfcbd9;
}

.el-step.is-horizontal,
.el-step__line {
  display: inline-block;
}

.el-step__line-inner {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  transition: all .15s;
  width: 0;
  height: 0;
}

.el-step__line-inner {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  transition: all .15s;
  width: 0;
  height: 0;
}

.el-step__icon>* {
  line-height: inherit;
  vertical-align: middle;
}

.el-step__main {
  white-space: normal;
  padding-right: 10px;
  text-align: left;
}

.el-step__title.is-finish {
  font-weight: 700;
  color: #20a0ff;
}

.el-step__title {
  font-size: 11px;
  line-height: 32px;
  display: inline-block;
}

.el-step__description.is-finish {
  color: #20a0ff;
}

.el-step__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.el-step__head.is-text.is-process {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.el-step__head.is-text {
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
}

.el-step__head.is-process,
.el-step__head.is-wait {
  color: #bfcbd9;
  border-color: #bfcbd9;
}

.el-step__title.is-process {
  font-weight: 700;
  color: #48576a;
}

.el-step__description.is-process {
  color: #8391a5;
}

.el-step__head.is-text.is-wait {
  color: #bfcbd9;
  background-color: #fff;
  border-color: #bfcbd9;
}

.el-step__head.is-text {
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
}

.el-step__head.is-process,
.el-step__head.is-wait {
  color: #bfcbd9;
  border-color: #bfcbd9;
}

.el-steps>:last-child .el-step__line {
  display: none;
}

.el-step__title.is-wait {
  font-weight: 400;
  color: #97a8be;
}

.el-step__description.is-wait {
  color: #bfcbd9;
}


.card-form{
	margin-top: -35%;
}
.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radio-tile-group .input-container {
    position: relative;
    height: 5rem;
    width: 8rem;
    margin: 0.5rem;
}
.radio-tile-group .input-container.checkbox {
    position: relative;
    height: 3rem;
    width: 8rem;
    margin: 0.5rem;
}


.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #079ad9;
    border-radius: 5px;
    padding: 1rem;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.radio-tile-group .input-container.yellow .radio-tile {
    border: 2px solid #ffc107;
}
.radio-tile-group.usd .input-container .radio-tile{
    padding: 0.5rem;
}

.radio-tile-group .input-container .radio-tile .icon img{
    max-width: 80%;
    margin-left: 10%;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #079ad9;
    border: 2px solid #079ad9;
    color: white;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile.warning {
    background-color: #ffc107;
    border: 2px solid #ffc107;
    color: #000;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button.one:checked + .radio-tile{
    background-color: #18b5fd;
    border: 2px solid #18b5fd;
}
.radio-tile-group .input-container .radio-button.two:checked + .radio-tile{
    background-color: #802ff1;
    border: 2px solid #802ff1;
}
.radio-tile-group .input-container .radio-button.three:checked + .radio-tile{
    background-color: #ff7900;
    border: 2px solid #ff7900;
}
.radio-tile-group .input-container .radio-button.four:checked + .radio-tile{
    background-color: #DF0F4E;
    border: 2px solid #DF0F4E;
}

.radio-tile-group .input-container .icon .fa {
    color: #000;
}
.radio-tile-group .input-container .radio-tile .icon i {
    color: #fff;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon i {
    color: #fff;
}

.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #079ad9;
    margin-bottom: 0;
}
.radio-tile-group .input-container .radio-tile-label.bolean {
    font-size: 0.95rem;
}
.radio-tile-group .input-container.yellow .radio-tile-label {
    color: #000;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: #fff;
    background-color: transparent;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile.warning .radio-tile-label {
    color: #000;
    background-color: transparent;
}

.text-center {
	text-align: center !important;
}


.hidden-box {
    display: none;
}
.box-check {
    width: 100%;
    margin: 0 auto;
}
.box-check p{
    text-align: left;
    font-size: 14px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0; top: 0;
  width: 80px; height: 30px;
  background: #DDDDDD;
  border-radius: 6px;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 30px; height: 30px;
  transition: all .2s;
  border-radius: 6px 0 0 6px;
  background: #7F8C9A;
  top: 0; left: 0;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#DAF4FF;
}
[type="checkbox"]:checked + label.zen.option2:before {
  background:#EEB900;
}
[type="checkbox"]:checked + label:after {
  background: #058fcc;
  top: 0; left: 51px;
  border-radius: 0 6px 6px 0;
}
[type="checkbox"]:checked + label.zen.option2:after {
  background: #ED9108;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}
[type="checkbox"]:checked + label{
    color:#058fcc;
}
[type="checkbox"]:checked + label.zen.option2{
    color:#ffc107;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  font-family: 'themify';
  content: "\e64c";
  left: 46px;
  margin-top: 3px;
  color:#ccc;
}
[type="checkbox"]:checked + label .ui:after {
  font-family: 'themify';
  content: "\e64c";
  color:#058fcc;
  margin-top: 3px;
  left: 12px;
}
[type="checkbox"]:checked + label.zen.option2 .ui:after {
  font-family: 'themify';
  content: "\e64c";
  color:#fff;
  margin-top: 3px;
  left: 12px;
}
[type="checkbox"]:focus + label:before {
  border: 0; outline: 0;
  box-sizing: border-box;
}

select{
    border-radius: 25px;
    -webkit-appearance: none;
}

.arrow-select{
    position: absolute;
    top: 45px;
    right: 25px;
    color: #000;
}


ul.list{
    list-style: none;
    text-align: left;
}
ul.list.last {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #484848;
}

ul.list li{
    margin-bottom: 5px;
}
ul.list.last a, ul.list a{
    font-weight: 400;
    color: #fbc60e;
}
ul.list li::before {
    content: "\e628";
    font-family: themify;
    font-size: 12px;
    color: #fbc60e;
    margin-right: 5px;
}

footer p{
    font-size: 12px;
    color: #fff;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    font-size: 19px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 7px;
    color: #fff;
    background-color: #058fcc;
    padding-top: 3px;
}

@media (min-width: 992px){
    .card-form{
      margin-top: -25%;
    }

    ul.list.last {
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #484848;
        border-top: none;
    }

    footer p{
        font-size: 14px;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
