<section id="home" class="h40 d-flex align-items-center bg-about section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Quiénes somos</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col mb-5">
				<p class="large">Somos una compañía preocupada por el bienestar de los españoles. Sabemos que los fraudes están a la orden del día, ya que muchas empresas patito se dedican a robar la identidad de las personas, y a pedir depósitos para otorgar tarjetas o préstamos, y al final no son aprobados; por eso, en wini.mx trabajamos únicamente con empresas reguladas ante las comisiones encargadas de la prevención de fraude. Puedes estar 100% seguro de que tus datos estarán seguros con nosotros, y de que sólo los usaremos para los fines que tú necesitas.</p>
				<p class="large">En wini.es, nos comprometemos a que la probabilidad de aprobación del producto que deseas, sea igual o mayor al 80%, ya que utilizamos un sistema de eliminación creado por nosotros, basándonos en tu perfil y necesidades, y nunca te ofreceremos un producto para el que no puedas aplicar.</p>
			</div>
		</div>
	</div>
</section>
