<section id="home" class="h40 d-flex align-items-center bg-faq section-padding mt-5 mt-md-0">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-sm-12 col-lg-10">
						<h1 class="title text-shadow">Preguntas frecuentes</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="work" class="py-5 d-flex align-items-center h100">
			<div class="container">
				<div class="row">
					<div class="col mb-5">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											¿Qué es wini.es?
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<p>Somos la primer plataforma en España, dedicada a ayudar al público español a llegar con el prestador de servicios y/o productos financiero adecuado para él.</p>
										<p>En México, existen más de 5,000 productos y servicios financieros, y es muy complicado saber en cuál de todos, cumples los requisitos para ser aprobado, por eso, en wini.es buscamos entre todos los servicios y productos disponibles (tarjetas de crédito, préstamos y sanadores de deudas), y encontramos el que es adecuado para cada perfil.</p>
										<p>Como usuario, únicamente tendrás que contestar unas preguntas, y en menos de 60 segundos, nuestro sistema evaluará tu perfil, y te enviará con el producto que es perfecto para ti.</p>
										<p>El servicio es 100% gratuito, nunca deberás pagar anticipos, depósitos, ni cualquier otro cargo al usar wini.es</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											¿wini.es es un prestamista?
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										<p>En wini.es, somos socios de los bancos y los prestamistas, conocemos cuáles son las características que necesitan para aprobar sus tarjetas de crédito y sus préstamos, y todo esa información, está guardada en nuestro sistema. Cuando un usuario contesta uno de nuestros cuestionarios, nuestro sistema analiza sus respuestas, y le asigna a un banco o prestamista, que busca a personas con esas características, de esta manera, la probabilidad de aprobación, es sumamente alta.</p>
										<p>Estos son los pasos que deberás seguir para obtener un producto o servicio financiero a través de wini.es:</p>
										<ul class="list-none">
											<li> 1. Entra a wini.es</li>
											<li> 2. Elige una de las opciones disponibles:
												<ul>
													<li>2.1 Quiero la mejor opción: Si eliges esta opción, nosotros buscaremos entre todos los productos y servicios financieros disponibles (tarjetas de crédito y préstamos). Y al finalizar tu cuestionario, te enviaremos con el servicio o producto perfecto para ti.</li>
													<li>2.2 Préstamos Personales: Si eliges esta opción, nosotros buscaremos entre todos los prestamistas disponibles, y te podremos enviar con el que te ofrece lo buscas, y en el que cumples los requisitos para ser aprobado.</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											¿Cuánto cuesta el servicio de wini.es?
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<p>Nuestro servicio no tiene ningún costo, es completamente gratuito. También la asesoría financiera es gratuita, y puedes solicitarla escribiéndonos cualquier duda a info@wini.es, nuestro equipo de trabajo te responderá en un plazo no mayor a las 72 horas.</p>
										<p>Recuerda que nuestro servicio está disponible las 24 horas, los 365 días del año.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingFour">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											¿Cuánto tarda el proceso? 
										</button>
									</h5>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
									<div class="card-body">
										<p>El proceso para llegar al producto o servicio financiero adecuado para ti, es muy rápido en wini.es. Llenar nuestro cuestionario, no te llevará más de 10 minutos.</p>
										<p>El tiempo para obtener el producto o servicio financiero, puede variar:<br>
										El más rápido, es instantáneo: al finalizar la solicitud en el sitio de nuestro socio, obtendrás el servicio.<br>
										El más lento, puede llevar hasta 5 días hábiles: al terminar la solicitud en el sitio de nuestro socio, seguirá un proceso para continuar.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingFive">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											¿wini.es está disponible en todo España? 
										</button>
									</h5>
								</div>
								<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
									<div class="card-body">
										<p>¡Sí! Desde cualquier lugar dentro de España, puedes usar nuestro servicio.<br>
										¡Se acabaron las solicitudes rechazadas!</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingSix">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											¿Por qué usar wini.es?
										</button>
									</h5>
								</div>
								<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
									<div class="card-body">
										<p>Por que somos la única plataforma en España, que te lleva directamente al producto o servicio perfecto para ti. Te evitamos la molestia de llenar muchas solicitudes en distintos sitios. Aquí llenas una sola, y obtienes lo que buscas.</p>
										<p>¡Se acabaron las solicitudes rechazadas!</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingSeven">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
											¿wini.es tiene oficinas? 
										</button>
									</h5>
								</div>
								<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
									<div class="card-body">
										<p>Sí tenemos oficinas, sin embargo el servicio es totalmente en línea. En nuestras oficinas, únicamente trabajamos todos los días, para mejorar el proceso en línea.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingEight">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
											¿Mi información está segura?
										</button>
									</h5>
								</div>
								<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
									<div class="card-body">
										<p>Toda la información que proporciones dentro de nuestro sitio web, así como a nuestros agentes, está protegida por la Ley Federal de Protección de Datos en Posesión de Particulares. No debes de preocuparte.</p>
										<p>Además, en wini.es únicamente trabajamos con empresas serias y reguladas, así que no debes tener miedo al utilizar nuestro servicio.</p>
										<p>Si tienes más preguntas, por favor escríbenos a info@wini.es, y uno de nuestros agentes se pondrá en contacto contigo en menos de 24 horas.</p>
									</div>
								</div>
							</div>
						</div>
						<p class="text-center mt-5">
							<a href="/step1" class="btn btn-primary btn-rounded btn-lg px-3 px-md-5">Quiero probar el servicio</a>
						</p>
					</div>
				</div>
			</div>
		</section>
