<section id="home" class="h40 d-flex align-items-center bg-healers section-padding mt-5 mt-md-0">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-lg-10">
        <h1 class="title text-shadow">Política de privacidad </h1>
      </div>
    </div>
  </div>
</section>
<section id="work" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col mb-5">
        <p>Multigenios S.A. de C.V. reconoce la importancia que tienen para sus clientes, empleados y proveedores (en adelante el Interesado o Usted), conocer el tratamiento que se da a sus datos personales. Por tal motivo, tratamos con sumo cuidado y trasparencia todo lo referente a su privacidad y seguridad en el cuidado de sus datos personales. Multigenios S.A. de C.V.&nbsp;&nbsp;se compromete a adoptar todas las medidas necesarias, que est&aacute;n a su alcance, para garantizar la protecci&oacute;n de los datos personales que pone a disposici&oacute;n del Interesado.</p>
        <p>A efectos de lo previsto en el Reglamento General de Protecci&oacute;n de Datos, 2016/679, del Parlamento Europeo y del Consejo de 27 de abril de 2016 (en adelante, RGPD), la Ley Org&aacute;nica 3/2018, de 5 de diciembre de Protecci&oacute;n de Datos Personales y de Garant&iacute;a de Derechos Digitales y dem&aacute;s legislaci&oacute;n aplicable (en adelante, la Legislaci&oacute;n).</p>
        <p>Multigenios S.A. de C.V. informa a trav&eacute;s de la presente de su pol&iacute;tica de Protecci&oacute;n de Datos de Car&aacute;cter Personal a los Interesados y a cualquier tercero que le entregue sus datos de car&aacute;cter personal por medio de formularios y/o cookies, para que Usted pueda decidir libre y voluntariamente si desea que los tratemos.</p>
        <p>Te recomendamos que consultes la Pol&iacute;tica de Protecci&oacute;n de Datos Personales en cada ocasi&oacute;n que utilices la p&aacute;gina web, ya que esta pudiera sufrir modificaciones.</p>
        <p>
          <strong style="font-weight: bold;">Aviso Legal</strong style="font-weight: bold;">
        </p>
        <p>
          <strong style="font-weight: bold;">Responsable del tratamiento de sus datos personales&nbsp;</strong style="font-weight: bold;">
        </p>
        <ul>
          <li>Nombre del titular: Multigenios S.A. de C.V.</li>
          <li>RFC: MUL190214AD8</li>
          <li>Domicilio social: Calle Chimalacatlan No. 10 Col: Reforma C.P. 62260 Cuernavaca, Morelos.</li>
          <li>
            <span style="color:rgb(0,0,0);">Email de contacto:

              <a href="mailto:info@leadgenios.com" target="_blank">info@leadgenios.com</a>
            </span>
          </li>
          <li>N&uacute;mero de inscripci&oacute;n en el Registro Mercantil: 2019011673</li>
          <li>Contacto con el encargado de protecci&oacute;n de datos:


            <a href="mailto:info@leadgenios.com" target="_blank">
              <span style="color:rgb(220,161,13);">info@leadgenios.com</span>
            </a>.


          </li>
        </ul>
        <p>
          <strong style="font-weight: bold;">Objeto&nbsp;</strong style="font-weight: bold;">
        </p>
        <p>La recogida y tratamiento automatizado de los datos de car&aacute;cter personal tiene como finalidad el mantenimiento de la relaci&oacute;n comercial y el desempe&ntilde;o de tareas de informaci&oacute;n sobre productos bancarios, asesoramiento y otras actividades propias de Multigenios S.A. de C.V</p>
        <p>Los datos recabados ser&aacute;n &uacute;nicamente transferidos a aquellas entidades colaboradores que sean necesarias con el &uacute;nico objetivo de dar cumplimiento al objeto anteriormente expuesto y a las finalidades indicadas en la presente Pol&iacute;tica de Privacidad.</p>
        <p>Los datos personales proporcionados se conservar&aacute;n mientras se mantenga la relaci&oacute;n comercial o no solicites su supresi&oacute;n y durante el plazo por el cu&aacute;l pudieran derivarse responsabilidades legales por los servicios prestados.</p>
        <p>El acceso al Sitio Web es libre y gratuito. Si el Interesado se suscribe a cualquier servicio del Sitio Web lo har&aacute; aceptando las Condiciones de Uso y Pol&iacute;tica de Privacidad y Cookies que se le mostrar&aacute;n.</p>
        <p>El Interesado reconoce que los datos suministrados son veraces y ciertos, comprometi&eacute;ndose a notificar cualquier cambio o modificaci&oacute;n que se produzca en los mismos.</p>
        <p>Utilizamos cookies. Se puede encontrar m&aacute;s informaci&oacute;n sobre la pol&iacute;tica de cookies en el siguiente enlace: Pol&iacute;tica de Cookies.&nbsp;</p>
        <p>
          <strong style="font-weight: bold;">Legitimaci&oacute;n</strong style="font-weight: bold;">
        </p>
        <p>El tratamiento de tus datos se realiza con las siguientes bases jur&iacute;dicas que legitiman el mismo:&nbsp;</p>
        <p>1. La solicitud de informaci&oacute;n y/o la contrataci&oacute;n de los servicios ofertados por Multigenios S.A. de C.V en su web.&nbsp;</p>
        <p>2. El consentimiento libre, espec&iacute;fico, informado e inequ&iacute;voco, el cual recabamos de forma expresa a trav&eacute;s de una clara acci&oacute;n afirmativa como es el marcado de una casilla dispuesta al efecto, previo a que pongamos a tu disposici&oacute;n el presente aviso de privacidad.</p>
        <p>En caso de que no nos facilites tus datos o lo hagas de forma err&oacute;nea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la informaci&oacute;n solicitada o llevar a cabo la contrataci&oacute;n de los servicios.</p>
        <p>
          <strong style="font-weight: bold;">Finalidades del tratamiento</strong style="font-weight: bold;">
        </p>
        <p>&iquest;Qu&eacute; son los datos personales? En base a el GDPR los datos personales son &ldquo;toda informaci&oacute;n sobre una persona f&iacute;sica identificada o identificable (&laquo;el interesado&raquo;); se considerar&aacute; persona f&iacute;sica identificable toda persona cuya identidad pueda determinarse, directa o indirectamente, en particular mediante un identificador, como por ejemplo un nombre, un n&uacute;mero de identificaci&oacute;n, datos de localizaci&oacute;n, un identificador en l&iacute;nea o uno o varios elementos propios de la identidad f&iacute;sica, fisiol&oacute;gica, gen&eacute;tica, ps&iacute;quica, econ&oacute;mica, cultural o social de dicha persona;&rdquo;</p>
        <p>
          <strong style="font-weight: bold;">Clientes</strong style="font-weight: bold;">
        </p>
        <p>Los Interesados, a trav&eacute;s de la p&aacute;gina web, correo electr&oacute;nico y/o tel&eacute;fono, nos facilitan sus datos de forma voluntaria. Los datos personales que recopilamos a trav&eacute;s de nuestro Cuestionario son aquellos estrictamente necesarios para llevar a cabo los servicios que prestamos a nuestros Interesados. Las finalidades para los que usamos los datos personales son los siguientes:</p>
        <p>Finalidades primarias</p>
        <ul>
          <li>Identificarlos: nombre, a&ntilde;o de nacimiento, domicilio;</li>
          <li>Datos de contacto: email, tel&eacute;fono, compa&ntilde;&iacute;a operadora y/o domicilio completo</li>
          <li>Darle de alta como Interesado en nuestra base de datos y poder brindarle el mejor servicio de acuerdo a sus preferencias y especificaciones en el Cuestionario, para ello les solicitamos: ingreso mensual, comprobante de ingresos, estatus laboral, otras cuentas bancarias de d&eacute;bito o cr&eacute;dito, entidad bancaria, productos financieros contratados, vigentes y entidad contratante, cumplimiento de obligaciones al respecto de los productos financieros indicados, as&iacute; como otros datos financieros que se necesiten para hacer una evaluaci&oacute;n de su informaci&oacute;n .&nbsp;</li>
          <li>Realizar un seguimiento de la entrega de los servicios solicitados, as&iacute; como conocer su opini&oacute;n acerca de los mismos.&nbsp;</li>
          <li>Velar por el buen uso de nuestros servicios y productos, impidiendo que se lleven a cabo usos il&iacute;citos o contrarios a nuestra pol&iacute;tica y valores. En caso de no actuar de acuerdo con los mimos, Multigenios S.A. de C.V se reserva el derecho a darle de baja y no proveerle de m&aacute;s servicios.</li>
          <li>Gestionar las quejas y consultas sobre nuestra P&aacute;gina Web, siendo la base legitimadora de este tratamiento la obligaci&oacute;n legal de


            <a data-saferedirecturl="https://www.google.com/url?q=http://wini.es&source=gmail&ust=1590177901678000&usg=AFQjCNHCO7ZYO5esXPooRiuWbIMNdgbevQ" href="http://wini.es" target="_blank">wini.es</a> de acuerdo con la normativa de defensa de los consumidores y usuarios.


          </li>
          <li>Gestionar, administrar, analizar, mejorar y ampliar nuestros servicios.</li>
        </ul>
        <p>Finalidades secundarias</p>
        <ul>
          <li>Publicitarias o de marketing. Facilitarle informaci&oacute;n acerca de los productos y servicios de nuestros colaboradores por medio de sus datos de contacto, ya sea mediante mensajer&iacute;a instant&aacute;nea (SMS) o correo electr&oacute;nico (email).</li>
          <li>Analitycs: Multigenios S.A. de C.V tambi&eacute;n hace uso de las estad&iacute;sticas del sitio de Google con la finalidad de analizar el uso que hacen los Interesados de nuestra web. Puedes encontrar m&aacute;s informaci&oacute;n sobre este aspecto en el siguiente enlace:


            <a data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/analytics/learn/privacy.html?hl%3Des%26_ga%3D2.243084738.1384717988.1553498218-294829854.1553096285%26_gac%3D1.45346832.1551688150.EAIaIQobChMIr8XVqYbo4AIVTNLeCh0DzgKXEAEYASAAEgJqa_D_BwE&source=gmail&ust=1590177901678000&usg=AFQjCNHl6zvTsSJEfcRXSktNa_BewUd9iA" href="https://www.google.com/analytics/learn/privacy.html?hl=es&_ga=2.243084738.1384717988.1553498218-294829854.1553096285&_gac=1.45346832.1551688150.EAIaIQobChMIr8XVqYbo4AIVTNLeCh0DzgKXEAEYASAAEgJqa_D_BwE" target="_blank">
              <span style="color:rgb(220,161,13);">Google Analytics</span>
            </a>.&nbsp;


          </li>
          <li>Redes Sociales: Estamos presentes en redes sociales, por las que se facilita a los Interesados la posibilidad de comunicarse directamente. El tratamiento de los datos de las personas que se hagan seguidoras establecer&aacute; un v&iacute;nculo con Multigenios S.A. de C.V a trav&eacute;s de las redes sociales o de los medios de comunicaci&oacute;n puestos a su disposici&oacute;n, se regir&aacute; por la pol&iacute;tica de privacidad de nuestra web y las condiciones de uso, pol&iacute;ticas de privacidad y dem&aacute;s normativas de acceso, uso y similares de la red social o medio que corresponda. El Interesado es conocedor de las mismas y las habr&aacute; aceptado previamente.</li>
        </ul>
        <p>Multigenios S.A. de C.V se compromete a no recabar informaci&oacute;n innecesaria sobre sus clientes o Interesados, a tratar con diligencia la informaci&oacute;n de car&aacute;cter personal que le puedan facilitar y a cumplir en cualquier fase del tratamiento de los datos con la obligaci&oacute;n de guardar el secreto debido.</p>
        <p>
          <strong style="font-weight: bold;">Transferencia de datos</strong style="font-weight: bold;">
        </p>
        <p>Asimismo, le informamos, que sus datos personales ser&aacute;n cedidos, previo consentimiento de su titular, a las entidades financieras con las que Multigenios S.A. de C.V mantiene acuerdos de colaboraci&oacute;n para poder responder de forma personalizada las peticiones de los Interesados. Todas las actividades de tratamiento de datos personales est&aacute;n detalladas en la presente Pol&iacute;tica de Privacidad.</p>
        <p>Multigenios S.A. de C.V pone a disposici&oacute;n de que todos los Colaboradores y Proveedores su Pol&iacute;tica de Privacidad, y solicita al mismo el env&iacute;o de su Pol&iacute;tica para comprobar que estos cumplen y ofrecen un servicio de acuerdo con la Legislaci&oacute;n Vigente. &nbsp;</p>
        <p>De la misma forma, Multigenios S.A. de C.V transfiere datos a su empresa Matriz en M&eacute;xico, previo consentimiento de su titular, con la finalidad de realizar an&aacute;lisis de datos, as&iacute; como, para funciones estad&iacute;sticas.</p>
        <p>Le informamos que no cedemos sus datos comerciales a terceros, salvo en los casos consentidos por su parte enumerados anteriormente o por obligaci&oacute;n de alguna Ley.</p>
        <p>
          <strong style="font-weight: bold;">Derechos ARCO</strong style="font-weight: bold;">
        </p>
        <p>Cualquier persona tiene derecho a obtener confirmaci&oacute;n sobre los tratamientos que de sus datos que se llevan a cabo por Multigenios S.A. de C.V.</p>
        <p>El Interesado puede ejercer en cualquier momento los derechos de acceso, rectificaci&oacute;n, supresi&oacute;n y portabilidad de sus datos, de limitaci&oacute;n y oposici&oacute;n a su tratamiento, as&iacute; como a no ser objeto de decisiones basadas &uacute;nicamente en el tratamiento automatizado de sus datos, cuando procedan, ante Multigenios S.A. de C.V en la direcci&oacute;n de correo electr&oacute;nico


          <a href="mailto:info@leadgenios.com" target="_blank">
            <span style="color:rgb(220,161,13);">info@leadgenios.com</span>
          </a>.


        </p>
        <p>
          <strong style="font-weight: bold;">Ejercicio de derechos ARCO</strong style="font-weight: bold;">
        </p>
        <p>Como se indica en el p&aacute;rrafo anterior, el titular de los derechos podr&aacute; ejercerlos en cualquier momento enviando un correo electr&oacute;nico


          <a href="mailto:info@leadgenios.com" target="_blank">
            <span style="color:rgb(220,161,13);">info@leadgenios.com</span>
          </a>. Donde deber&aacute;n incluir la siguiente informaci&oacute;n:


        </p>
        <ul>
          <li>Nombre del titular de los datos personales</li>
          <li>Direcci&oacute;n electr&oacute;nica del titular de los datos personales.</li>
          <li>Copia de la identificaci&oacute;n oficial del titular, o poder acreditante de su representante legal junto con la identificaci&oacute;n oficial.</li>
          <li>Descripci&oacute;n clara y precisa de los datos personales que le est&aacute;n afectando o la raz&oacute;n a ejercer sus derechos ARCO</li>
        </ul>
        <p>Multigenios S.A. de C.V tendr&aacute; un plazo de 20 d&iacute;as para contestar a su solicitud, ya sea con una contestaci&oacute;n positiva o negativa. En caso de que Multigenios S.A. de C.V no conteste el Interesado podr&aacute; acudir a la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos (


          <a data-saferedirecturl="https://www.google.com/url?q=http://www.aepd.es&source=gmail&ust=1590177901678000&usg=AFQjCNErBK8h15ael6WGmJCOtoPP4PdWzA" href="http://www.aepd.es" target="_blank">
            <span style="color:rgb(220,161,13);">www.aepd.es</span>
          </a>) para demandar el ejercicio de sus derechos.


        </p>
        <p>
          <strong style="font-weight: bold;">Cambios del Aviso de Privacidad</strong style="font-weight: bold;">
        </p>
        <p>Te recomendamos que consultes la Pol&iacute;tica de Protecci&oacute;n de Datos Personales en cada ocasi&oacute;n que utilices la p&aacute;gina web, ya que esta pudiera sufrir modificaciones. De todas formas, en caso de realizar modificaciones sustanciales del mismo, que afecten a tu privacidad, Multigenios S.A. de C.V le enviar&aacute; un correo electr&oacute;nico con la nueva pol&iacute;tica, o en su caso, recabar&aacute; de nuevo su consentimiento mediante su p&aacute;gina web

          <a data-saferedirecturl="https://www.google.com/url?q=http://www.wini.es&source=gmail&ust=1590177901678000&usg=AFQjCNF9nGBA4KSzAf3RiXEcK3a37K-Itg" href="http://www.wini.es" target="_blank">
            <span style="color:rgb(220,161,13);">www.wini.es</span>
          </a>
        </p>
        <p>
          <strong style="font-weight: bold;">Comunicaciones comerciales</strong style="font-weight: bold;">
        </p>
        <p>Como parte de las finalidades secundarias


          <strong style="font-weight: bold;">&nbsp;</strong style="font-weight: bold;">Multigenios S.A. de C.V podr&aacute; recabar tu consentimiento para ponerse en contacto contigo por correo electr&oacute;nico o mensajer&iacute;a instant&aacute;nea (SMS), para remitirle comunicaciones comerciales sobre sus productos, o los de terceros con los que colaboramos.


        </p>
        <p>Si en un determinado momento el Interesado ya no desea recibir comunicaciones de esta naturaleza puede revocar su consentimiento mediante el env&iacute;o de una notificaci&oacute;n de acuerdo con lo dispuesto en la Cl&aacute;usula 6 (seis) &ndash; Ejercicio de derechos Arco. O bien no marcando la casilla espec&iacute;fica, donde otorga su consentimiento para recibir esta clase de comunicaciones.</p>
        <p>
          <strong style="font-weight: bold;">Idioma&nbsp;</strong style="font-weight: bold;">
        </p>
        <p>La presente Pol&iacute;tica de Privacidad y todas las relaciones que se establezcan entre el Interesado y Multigenios S.A. de C.V se presentan en castellano. En caso de solicitarse, y conforme a la normativa aplicable, tambi&eacute;n se dar&aacute; en la lengua cooficial de las comunidades aut&oacute;nomas con lengua propia.</p>
        <p>
          <strong style="font-weight: bold;">General</strong style="font-weight: bold;">
        </p>
        <p>Si cualquier cl&aacute;usula de las presentes Condiciones Generales fuese declarada total o parcialmente nula o ineficaz afectar&aacute; s&oacute;lo a dicha disposici&oacute;n o parte de esta que resulte nula o ineficaz subsistiendo en todo lo dem&aacute;s el resto del Aviso de Privacidad.</p>
        <p class="text-center mt-5">
          <a href="/step1" class="btn btn-primary btn-rounded btn-lg px-3 px-md-5">Quiero probar el servicio</a>
        </p>
      </div>
    </div>
  </div>
</section>
