<section id="home" class="h100 d-flex align-items-center bg-gradient2 section-padding">
	<div id="container" class="container" ng-app="app" ng-controller="results as vm" ng-cloak>
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10 ">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Revisamos tus datos, y cumples con los requisitos para solicitar cualquiera de estas opciones:</p>
				<div class="row justify-content-center">

					<!-- Cashper -->
					<div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/cashper.png" alt="Cashper">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: €50 a €600 </li>
									<li><i class="fas fa-check mr-2"></i> Duración: 1 - 30 días </li>
									<li><i class="fas fa-check mr-2"></i> Comisión por apertura: No </li>
								</ul>
								<p class="">
									<a href="https://leadgenios.net/click.track?CID=434250&AFID=467369&SID=Wini" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div>

					<!-- Cashper plus -->
					<div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/cashperplus.png" alt="Cashper Plus">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: €200 a €2.000 </li>
									<li><i class="fas fa-check mr-2"></i> Duración: 2 - 12 Meses </li>
									<li><i class="fas fa-check mr-2"></i> Comisión por apertura: No </li>
								</ul>
								<p class="">
									<a href="http://leadgenios.net/click.track?CID=434252&AFID=467369&SID=Wini" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div>

					<!-- Fidinda -->
					<div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/fidinda.png" alt="Fidinda">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: €500 a €5.000 </li>
									<li><i class="fas fa-check mr-2"></i> Duración: 3 - 24 meses </li>
									<li><i class="fas fa-check mr-2"></i> Comisión por apertura: No </li>
								</ul>
								<p class="">
									<a href="http://leadgenios.net/click.track?CID=434253&AFID=467369&SID=Wini" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div>

					<!-- Credy -->
					<%# <div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/credy.png" alt="Credy">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Préstamos rápidos </li>
									<li><i class="fas fa-check mr-2"></i> 750€ sin salir de casa </li>
									<li><i class="fas fa-check mr-2"></i> Más de 800 millones prestados </li>
									<li><i class="fas fa-check mr-2"></i> 90% solicitudes aprobadas </li>
								</ul>
								<p class="">
									<a href="https://leadgenios.net/click.track?CID=433581&AFID=467369&SID=Wini" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- BNext Premium (Income more 3k) -->
					<%# <div class="col-sm-6 col-lg-4 mb-3" ng-if="incomeMore3k">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/bnext.png" alt="BNext Premium">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Abre tu cuenta 100% digital </li>
									<li><i class="fas fa-check mr-2"></i> Incluye un seguro de viaje </li>
									<li><i class="fas fa-check mr-2"></i> Descuentos exclusivos </li>
									<li><i class="fas fa-check mr-2"></i> Ábrela en 6 minutos </li>
								</ul>
								<p class="">
									<a href="https://bnext.uinterbox.com/tracking/clk?act=6151&gel=39451&pub=5099&org=1374" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- BNext Standard (Income less 3k) -->
					<%# <div class="col-sm-6 col-lg-4 mb-3" ng-if="!incomeMore3k">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/bnext.png" alt="BNext Standard">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Pide tu tarjeta 100% digital y gratis </li>
									<li><i class="fas fa-check mr-2"></i> Sin comisiones, sin letra pequeña </li>
									<li><i class="fas fa-check mr-2"></i> Consíguela hoy mismo </li>
									<li><i class="fas fa-check mr-2"></i> Regístrate en 4 minutos </li>
								</ul>
								<p class="">
									<a href="https://bnext.uinterbox.com/tracking/clk?act=6151&gel=39393&pub=5099&org=1374" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- Credito Estrella (Not unemployed) -->
					<%# <div class="col-sm-6 col-lg-4 mb-3" ng-if="!unemployed">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/creditoestrella.png" alt="Credito Estrella">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: 100€ a 1.000€ </li>
									<li><i class="fas fa-check mr-2"></i> Plazo: 61 a 90 días </li>
									<li><i class="fas fa-check mr-2"></i> Entrega: Inmediata </li>
									<li><i class="fas fa-check mr-2"></i> Primer préstamo sin interés </li>
								</ul>
								<p class="">
									<a href="https://track.leadbazaar.co/click?pid=492&offer_id=105" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- Crezu (Not unemployed) -->
					<%# <div class="col-sm-6 col-lg-4 mb-3" ng-if="!unemployed">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/crezu.png" alt="Crezu">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: 300€ a 1.000€ </li>
									<li><i class="fas fa-check mr-2"></i> Plazo: 61 a 90 días </li>
									<li><i class="fas fa-check mr-2"></i> Entrega: Inmediata </li>
									<li><i class="fas fa-check mr-2"></i> Con cualquier historial crediticio </li>
								</ul>
								<p class="">
									<a href="https://track.leadbazaar.co/click?pid=492&offer_id=47" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- Pezetita -->
					<%# <div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/pezetita.png" alt="Pezetita">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Monto: 100€ a 1.000€ </li>
									<li><i class="fas fa-check mr-2"></i> Plazo: 1 a 90 días </li>
									<li><i class="fas fa-check mr-2"></i> Entrega: Inmediata </li>
									<li><i class="fas fa-check mr-2"></i> Desde 0% de interés </li>
								</ul>
								<p class="">
									<a href="https://track.leadbazaar.co/click?pid=492&offer_id=194" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

					<!-- Kreditiweb -->
					<%# <div class="col-sm-6 col-lg-4 mb-3">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mb-4" src="images/logos/kreditiweb.png" alt="Kreditiweb">
								<ul class="no-style mb-4">
									<li><i class="fas fa-check mr-2"></i> Préstamos para todos </li>
									<li><i class="fas fa-check mr-2"></i> Tú eliges cantidad y plazo </li>
									<li><i class="fas fa-check mr-2"></i> Entrega inmediata </li>
									<li><i class="fas fa-check mr-2"></i> Desde 0% de interés </li>
								</ul>
								<p class="">
									<a href="https://leadgenios.net/click.track?CID=433551&AFID=467369&SID=Wini" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">
										Solicitar <i class="fas fa-arrow-right ml-3"></i>
									</a>
								</p>
							</div>
						</div>
					</div> %>

				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js?id=0001"></script>
</section>
