<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b" ng-app="app">
	<div class="container" ng-controller="step1 as vm" ng-cloak>
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
					</div>
					<div class="content p-4">
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="el-steps is-horizontal ml-2 ml-lg-4 mb-3">
									<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-process is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner" style="width: 50%;"></i></div><span class="el-step__icon"><div>1</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-process">Paso 1</div>
												</div>
									</div>
									<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-wait is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner"></i></div><span class="el-step__icon"><div>2</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-wait">Paso 2</div>
												</div>
									</div>
									<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-wait is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner"></i></div><span class="el-step__icon"><div>3</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-wait">Paso 3</div>
												</div>
									</div>
									<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-wait is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner"></i></div><span class="el-step__icon"><div>4</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-wait">Paso 4</div>
												</div>
									</div>
									<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-wait is-text">
													<span class="el-step__icon"><div>5</div></span>
												</div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-wait mr-0">Paso 5</div>
												</div>
									</div>
								</div>
							</div>
						</div>
						<h2 class="font-weight-bold text-danger h4">Datos de contacto</h2>
						<%# <p>Ingresa tu teléfono móvil  a 9 dígitos, tu correo electrónico y haz clic en <span class="badge badge-warning">Siguiente</span></p> %>
						<form action="" form name="frm" novalidate>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="exampleInputPassword1">Ingresa tu móvil a 9 digitos</label>
										<input type="tel" class="form-control btn-rounded" id="" placeholder="9 dígitos" ng-model="f.phone" name="phone" ng-pattern="onlyNumbers" required limit-to="9" ng-maxlength="9" ng-minlength="9">
										<small id="" class="form-text text-warning" ng-if="(frm.phone.$invalid && !frm.phone.$pristine) || (frm.phone.$invalid && frm.$submitted)">Campo incorrecto. Tu teléfono debe contener 9 dígitos</small>
									</div>
									<div class="form-group">
										<label for="">Compañía telefonica</label>
										<i class="fas fa-angle-down arrow-select" style="position: relative !important; float: right;"></i>
										<select class="form-control btn-rounded" ng-style="!f.companyPhone ? {'color':'#6c757d'} : {}" ng-options="item.id as item.description for item in companies" ng-model="f.companyPhone" name="company" required>
								      <option value="" disabled> Selecciona </option>
										</select>
										<small id="" class="form-text text-warning" ng-if="(frm.company.$invalid && !frm.company.$pristine) || (frm.company.$invalid && frm.$submitted)">Campo incorrecto. Selecciona una compañía</small>
									</div>
									<div class="form-group">
										<label for="">Correo electrónico</label>
										<input type="email" class="form-control btn-rounded" id=""  placeholder="Correo electrónico" ng-model="f.email" name="email" ng-pattern="emailExpression" required>
										<small id="" class="form-text text-warning" ng-if="(frm.email.$invalid && !frm.email.$pristine) || (frm.email.$invalid && frm.$submitted)">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<h4 class="font-weight-bold h6 text-center mb-4">Para continuar acepta los siguientes términos:</h4>
									<div class="box-check">
										<p>
											<input class="cbx" type="checkbox" id="1" ng-model="f.termsConditions" required/>
											<label class="zen" for="1"><span class="ui"></span>
												Acepto los
												<a class="text-danger" href="/terms" target="_blank">
			                    términos y condiciones
			                  </a>
												del servicio
											</label>
										</p>
										<p>
											<input class="cbx" type="checkbox" id="2" ng-model="f.privacyNotice" required/>
											<label class="zen" for="2"><span class="ui"></span>
												Acepto la
												<a class="text-danger" href="/privacy" target="_blank">
			                    politica de privacidad
			                  </a>
											</label>
										</p>
										<p>
											<small>
												Acepto recibir notificaciones, comunicaciones y ofertas comerciales de
												<a class="text-danger" href="/" target="_blank">
												Wini.es
			                  </a>
												<br>
												Para más información, consulte nuestro
												<a class="text-danger" href="/privacy" target="_blank">
												aviso de privacidad
			                  </a>
											</small>
										</p>
									</div>
								</div>
							</div>
						</form>

						<hr>

						<div class="row">
							<div class="col">
								<a href="/" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid && !frm.$pristine); frm.$submitted=true">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js?id=0001"></script>
</section>
