<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b" ng-app="app">
	<div class="container" ng-controller="step6 as vm" ng-cloak>
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
					</div>
					<div class="content p-4">
						<div class="row">
									<div class="col-sm-12 text-center">
										<div class="el-steps is-horizontal ml-2 ml-lg-4 mb-3">
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>1</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 1</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>2</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 2</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>3</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 3</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>4</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 4</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-process is-text">
													<span class="el-step__icon"><div>5</div></span>
												</div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-process mr-0">Paso 5</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						<h2 class="font-weight-bold text-center h6">Fecha de nacimiento</h2>
						<form action="" form name="frm" novalidate>
							<div class="row justify-content-center">
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Día</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in days" ng-model="f.dayBirth"></select>
									</div>
								</div>
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Mes</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in months" ng-model="f.monthBirth" ng-change="daysInMonth()"></select>
									</div>
								</div>
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Año</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in years" ng-model="f.yearBirth" ng-change="daysInMonth()"></select>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<div class="form-group">
										<label for="">¿Dónde vives?</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item.id as item.description for item in state" ng-model="f.state"></select>
									</div>
								</div>
							</div>
						</form>
						<hr>
						<div class="row justify-content-end">
							<div class="col-12 col-sm-6">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid); frm.$submitted=true">Quiero la mejor opción <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
