<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
					</div>
					<div class="content p-4">
						<h4 class="h6 font-weight-bold text-center">¿Cuánto dinero usas mensualmente para pagar tus deudas? Considera créditos y tarjetas de crédito</h4>
						<div class="radio-tile-group text-center">

							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Menos de $1,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $1,000 y $5,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $5,000 y $10,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $10,000 y $15,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $15,000 y $20,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $20,000 y $40,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $40,000 y $60,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Más de $60,000 pesos</label>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/step3" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a href="/step5" class="btn btn-warning btn-rounded font-weight-bold btn-block">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
