<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b" ng-app="app">
	<div class="container" ng-controller="step5 as vm" ng-cloak>
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
					</div>
					<div class="content p-4">
						<div class="row">
									<div class="col-sm-12 text-center">
										<div class="el-steps is-horizontal ml-2 ml-lg-4 mb-3">
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>1</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 1</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal mr-0"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>2</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 2</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-finish is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner" style="width: 100%;"></i></div><span class="el-step__icon"><div>3</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-finish">Paso 3</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-process is-text">
													<div class="el-step__line is-horizontal"><i class="el-step__line-inner" style="width: 50%;"></i></div><span class="el-step__icon"><div>4</div></span></div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-process">Paso 4</div>
												</div>
											</div>
											<div class="el-step is-horizontal mr-0">
												<div class="el-step__head is-wait is-text">
													<span class="el-step__icon"><div>5</div></span>
												</div>
												<div class="el-step__main ml-0">
													<div class="el-step__title is-wait mr-0">Paso 5</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						<h4 class="h6 font-weight-bold text-center">¿Actualmente tienes uno o más de estos productos financieros vigentes?</h4>
						<p class="mb-3 text-info text-center"><small>Elige todas las opciones necesarias</small></p>
						<form action="" form name="frm" novalidate>
							<div class="row justify-content-md-center">
								<div class="col-sm-6">
									<div class="box-check">
										<p ng-repeat="fP in financialProduct"><input class="cbx" type="checkbox" id="{{fP.id}}" ng-model="val" ng-change="change(fP.id);"/><label class="zen" for="{{fP.id}}"><span class="ui"></span>{{fP.description}}</label></p>
									</div>
								</div>
							</div>
							<div class="row mb-3" ng-if="f.financialProduct.length > 0">
								<div class="col-sm-12">
									<h4 class="h6 mt-4 font-weight-bold text-center">¿Estás al corriente con tu crédito o préstamo?</h4>
									<div class="radio-tile-group text-center">

										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="radio5" ng-model="f.paymentUpToDate" value="true" ng-required="f.financialProduct.length > 0"/>
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">Sí</label>
											</div>
										</div>
										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="radio5" ng-model="f.paymentUpToDate" value="false" ng-required="f.financialProduct.length > 0"/>
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">No</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/step3" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid); frm.$submitted=true">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
