<section id="home" class="h40 d-flex align-items-center bg-terms section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Términos y condiciones</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="py-5 d-flex align-items-center h100">
			<div class="container">
				<div class="row">
					<div class="col mb-5">
						<p class="font-weight-bold">FECHA DE EMISIÓN: 08/2020</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Para el uso de <span style="color:rgb(220,161,13);">Wini.es</span> - mediante la navegaci&oacute;n a trav&eacute;s de esta p&aacute;gina web, usted acepta los t&eacute;rminos y condiciones generales (los &quot;T&eacute;rminos y Condiciones Generales&quot;) aplicables al uso de nuestra p&aacute;gina web. Nos reservamos el derecho, a nuestra sola discreci&oacute;n, de cambiar, modificar o alterar de cualquier modo los t&eacute;rminos y condiciones y la pol&iacute;tica de privacidad que aparecen en esta p&aacute;gina en cualquier momento, por cualquier raz&oacute;n. Cualquier cambio, modificaci&oacute;n o alteraci&oacute;n se har&aacute; mediante aviso en la p&aacute;gina, pero no se le avisar&aacute; a usted directamente. El usuario debe leer, entender y aceptar todas las condiciones establecidas en los T&eacute;rminos y Condiciones Generales y en el Aviso de Privacidad, as&iacute; como cualquier otro documento, previo a su inscripci&oacute;n como usuario de <span style="color:rgb(220,161,13);">Wini.es</span></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Nuestros Servicios</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><span style="color:rgb(220,161,13);">Wini.es</span> no es un prestamista, es un servicio gratuito que empareja a los consumidores con los potenciales prestamistas participantes en nuestra red directa de <span style="color:rgb(220,161,13);">Wini.es</span> (&quot;prestamistas participantes&quot;). Para utilizar este servicio, debe completar una o m&aacute;s solicitudes en l&iacute;nea que le solicitar&aacute;n informaci&oacute;n espec&iacute;fica sobre usted, incluyendo, aunque no est&aacute; limitado a, su nombre, direcci&oacute;n, n&uacute;mero de tel&eacute;fono, direcci&oacute;n de correo electr&oacute;nico, informaci&oacute;n de la cuenta bancaria e informaci&oacute;n de empleo. La recopilaci&oacute;n y uso de esta informaci&oacute;n est&aacute; sujeto a la pol&iacute;tica de privacidad de esta p&aacute;gina. Para poder utilizar esta p&aacute;gina web o el servicio, debe aceptar los diferentes t&eacute;rminos y condiciones establecidos en la pol&iacute;tica de privacidad que se incorporan aqu&iacute; por referencia.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><span style="color:rgb(220,161,13);">Wini.es</span> proporciona una conexi&oacute;n entre las personas que buscan pr&eacute;stamos de pago a corto plazo y los distintos proveedores en l&iacute;nea que ofrecen estos pr&eacute;stamos a corto plazo. Los pr&eacute;stamos de pago a corto plazo est&aacute;n dise&ntilde;ados con el prop&oacute;sito de proporcionar financiamiento para resolver problemas de liquidez a corto plazo y no deben considerarse como una soluci&oacute;n a largo plazo.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Una vez el consumidor env&iacute;e el formulario (s) de solicitud a <span style="color:rgb(220,161,13);">Wini.es</span>, <span style="color:rgb(220,161,13);">Wini.es</span> enviar&aacute; su informaci&oacute;n a uno o varios prestamistas participantes . Al enviar el formulario (s) de solicitud, usted entiende y acepta que est&aacute; enviando una consulta sobre un producto de pr&eacute;stamo a <span style="color:rgb(220,161,13);">Wini.es</span> y a cada uno de los prestamistas participantes a quienes <span style="color:rgb(220,161,13);">Wini.es</span> transmite su solicitud de pr&eacute;stamo. Al enviar el formulario ( s ) de solicitud, est&aacute; enviando una invitaci&oacute;n expresa a <span style="color:rgb(220,161,13);">Wini.es</span> y a cada uno de los prestamistas participantes que compartir&aacute;n su informaci&oacute;n con usted por cualquier medio (incluyendo correo electr&oacute;nico, tel&eacute;fono y correo directo) para que le puedan ayudar con su transacci&oacute;n o proporcionar informaci&oacute;n acerca de ofertas adicionales en las que pueda estar interesado. Si no desea recibir mensajes de correo electr&oacute;nico puede solicitar ser eliminado de la lista de correo mediante el mecanismo de opt-out que aparece en los mensajes de correo electr&oacute;nico recibidos. Para darse de baja de promociones enviadas por correo electr&oacute;nico desde <span style="color:rgb(220,161,13);">Wini.es</span>, env&iacute;e una solicitud a Multigenios SA de CV: Av. Paseo de las Palmas #735, Lomas de Chapultepec I Secci&oacute;n, Miguel Hidalgo, 11000, Ciudad de M&eacute;xico, M&eacute;xico</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Los prestamistas participantes que reciben informaci&oacute;n de su solicitud revisan su informaci&oacute;n en tiempo real para determinar si la informaci&oacute;n proporcionada, cumple con los criterios de calificaci&oacute;n crediticia. Los prestamistas participantes podr&aacute;n, entre otras cosas, verificar su identidad, realizar una verificaci&oacute;n de cr&eacute;dito y revisar su informaci&oacute;n en bases de datos nacionales (como Experian, Llamada de cr&eacute;dito y otros) que rastrea las transacciones de consumo con las instituciones de cr&eacute;dito. Al enviar el formulario (s) de solicitud, usted est&aacute; de acuerdo en permitir que los prestamistas participantes revisen, verifiquen e investiguen dicha informaci&oacute;n.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Si un prestamista participante determina que su solicitud cumple con sus criterios de calificaci&oacute;n de cr&eacute;dito, la p&aacute;gina web <span style="color:rgb(220,161,13);">Wini.es</span> abrir&aacute; una nueva p&aacute;gina web que identifica el nombre (s) y la informaci&oacute;n del prestamista (s) de contacto, o redirigir&aacute; el navegador a la p&aacute;gina web del prestamista. Usted entiende y acepta que, una vez haya sido redirigido a la p&aacute;gina web de la entidad crediticia, <span style="color:rgb(220,161,13);">Wini.es</span> no tiene m&aacute;s participaci&oacute;n en la solicitud de pr&eacute;stamo o proceso de aprobaci&oacute;n. Sus interacciones subsecuentes con el prestamista est&aacute;n sujetas a la pol&iacute;tica de privacidad, condiciones de uso, y otras pol&iacute;ticas y / o t&eacute;rminos impuestos por ese prestamista.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><span style="color:rgb(220,161,13);">Wini.es</span> no es un prestamista y no hace pr&eacute;stamos ni toma decisiones de cr&eacute;dito en relaci&oacute;n con su servicio de b&uacute;squeda de pr&eacute;stamo. <span style="color:rgb(220,161,13);">Wini.es</span> no garantiza la aceptaci&oacute;n en un programa de pr&eacute;stamo en particular ni establece las condiciones de los pr&eacute;stamos espec&iacute;ficos con cualquier prestamista participante. <span style="color:rgb(220,161,13);">Wini.es</span> tampoco garantiza que el precio, los productos, disponibilidad, tarifas, tasas u otros t&eacute;rminos de pr&eacute;stamos ofrecidos y puestos a disposici&oacute;n por los prestamistas participantes, sean las mejores condiciones disponibles en el mercado.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><span style="color:rgb(220,161,13);">Wini.es</span> no avala ni recomienda los productos de cualquier prestamista particular. <span style="color:rgb(220,161,13);">Wini.es</span> es un agente suyo o de cualquier prestamista participante. <span style="color:rgb(220,161,13);">Wini.es</span> no est&aacute; involucrado con el uso de la entidad crediticia y / o revisi&oacute;n de la informaci&oacute;n de su solicitud para tomar una determinaci&oacute;n acerca de si usted cumple o no con los criterios de calificaci&oacute;n del pr&eacute;stamo, de un prestamista particular. El prestamista es el &uacute;nico responsable de sus servicios hacia usted y usted acepta que <span style="color:rgb(220,161,13);">Wini.es</span> no ser&aacute; responsable de los da&ntilde;os o gastos de cualquier tipo que surjan relacionados de alguna manera mediante su uso del servicio de b&uacute;squeda de pr&eacute;stamo. Entiende que los prestamistas participantes podr&aacute;n mantener la informaci&oacute;n de su solicitud, tanto si est&aacute; como si no est&aacute; calificado para un pr&eacute;stamo con ellos.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Derechos de Autor</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>El contenido, organizaci&oacute;n, gr&aacute;ficos, dise&ntilde;o, compilaci&oacute;n, traducci&oacute;n magn&eacute;tica, conversi&oacute;n digital y otros asuntos relacionados con la p&aacute;gina est&aacute;n protegidos por derechos de autor, marcas registradas y otros derechos de propiedad (incluyendo la propiedad intelectual, aunque no es el &uacute;nico). La copia, redistribuci&oacute;n, uso o publicaci&oacute;n por su parte de tales asuntos o cualquier parte de la p&aacute;gina web, excepto lo permitido por &quot;Derecho de uso limitado&quot; a continuaci&oacute;n, est&aacute; estrictamente prohibido. Usted no adquiere derechos de propiedad sobre cualquier contenido, documento u otros materiales vistos a trav&eacute;s de la p&aacute;gina. La publicaci&oacute;n por <span style="color:rgb(220,161,13);">Wini.es</span> de informaci&oacute;n o materiales en la p&aacute;gina no constituye una renuncia a cualquier derecho sobre dicha informaci&oacute;n y materiales.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Derecho de autor y marca de servicio de informaci&oacute;n:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Derechos de autor &copy; Multigenios SA de CV 2018, todos los derechos reservados. &ldquo;<span style="color:rgb(220,161,13);">Wini.es</span>&rdquo; y los logotipos asociados son marcas de servicio de <span style="color:rgb(220,161,13);">Wini.es</span> y est&aacute;n protegidos en Estados Unidos, Reino Unido, Espa&ntilde;a y M&eacute;xico. Todas las dem&aacute;s marcas son propiedad de sus respectivos due&ntilde;os.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Derecho de uso limitado:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>La visualizaci&oacute;n, impresi&oacute;n o descarga de cualquier contenido, video, audio, gr&aacute;fico, formulario o documento desde la p&aacute;gina le concede solamente una licencia no exclusiva y revocable para el uso exclusivamente personal y no comercial, seg&uacute;n sea necesario para ver y escuchar el contenido y navegar a trav&eacute;s de las p&aacute;ginas y enlaces disponibles en general al p&uacute;blico mediante un navegador est&aacute;ndar de Internet y reproductor multimedia est&aacute;ndar, y no para la re publicaci&oacute;n, distribuci&oacute;n, cesi&oacute;n, sub-licencia, venta, preparaci&oacute;n de trabajos derivados o cualquier otro uso. Ninguna parte de cualquier contenido, gr&aacute;fico, formulario o documento puede ser reproducida en cualquier forma ni se puede incorporar en cualquier sistema de recuperaci&oacute;n de informaci&oacute;n, ya sea electr&oacute;nico o mec&aacute;nico, que no sea para su uso personal y no comercial (pero no para la reventa o redistribuci&oacute;n).</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Edici&oacute;n, eliminaci&oacute;n y modificaci&oacute;n:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Nos reservamos el derecho a nuestra discreci&oacute;n, de cambiar, modificar o eliminar cualquier documento, informaci&oacute;n u otro contenido que aparezca en la p&aacute;gina.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Indemnizaci&oacute;n:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Usted acepta eximir a <span style="color:rgb(220,161,13);">Wini.es</span> y sus respectivos directores, funcionarios, accionistas, empleados, agentes, abogados, anunciantes y editores (en conjunto, &quot;Nuestras Partes Afiliadas&quot;) de cualquier responsabilidad, p&eacute;rdida, reclamaci&oacute;n o gastos, incluyendo los honorarios razonables de abogados, relacionados con su uso de la p&aacute;gina o violaci&oacute;n de este Acuerdo</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Derecho Intransferible:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Su derecho a utilizar la p&aacute;gina no es transferible. Cualquier contrase&ntilde;a o derecho otorgado a usted para obtener informaci&oacute;n o documentos desde la p&aacute;gina no es transferible.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>RENUNCIA DE GARANT&Iacute;A Y LIMITACI&Oacute;N DE RESPONSABILIDAD:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>LOS PROGRAMAS INFORM&Aacute;TICOS, INFORMACI&Oacute;N Y DEM&Aacute;S CONTENIDOS DISPONIBLES A TRAV&Eacute;S DE LA P&Aacute;GINA SE PROPORCIONAN &quot;TAL CUAL&quot;, &quot;SEG&Uacute;N DISPONIBILIDAD&quot;, Y TODAS LAS GARANT&Iacute;AS, EXPRESAS O IMPL&Iacute;CITAS, SON RECHAZADAS. EN LA MEDIDA DE LO PERMITIDO POR LA LEY APLICABLE, <span style="color:rgb(220,161,13);">Wini.es</span> RECHAZA TODA GARANT&Iacute;A EXPRESA O IMPL&Iacute;CITA, INCLUYENDO, PERO NO LIMIT&Aacute;NDOSE A, (A) QUE NING&Uacute;N PROGRAMA INFORM&Aacute;TICO O LA INFORMACI&Oacute;N DISPONIBLE EN, O A TRAV&Eacute;S DE ESTA P&Aacute;GINA, O LA P&Aacute;GINA MISMA SEA COMERCIAL O ADECUADO PARA UN PROP&Oacute;SITO PARTICULAR, (B ) QUE LOS PROGRAMAS O INFORMACI&Oacute;N DISPONIBLE EN, O A TRAV&Eacute;S DE ESTE SITIO, O EL SITIO MISMO SER&Aacute; ININTERRUMPIDO O SE VER&Aacute; LIBRE DE ERRORES , (C) QUE LOS DEFECTOS SER&Aacute;N CORREGIDOS, (D ) QUE NO EXISTEN VIRUS U OTROS COMPONENTES NOCIVOS INFORM&Aacute;TICOS , ( E) QUE LOS M&Eacute;TODOS DE SEGURIDAD EMPLEADOS SER&Aacute;N SUFICIENTES, (F) EN RELACI&Oacute;N CON CORRECCI&Oacute;N, PRECISI&Oacute;N O CONFIABILIDAD O (G) PERJUICIO DEL USO Y DISFRUTE DE LOS PROGRAMAS O DATOS INFORM&Aacute;TICOS, O CONTRA INFRACCI&Oacute;N. SE OFRECE TODA INFORMACI&Oacute;N Y PROGRAMAS INFORM&Aacute;TICOS PRESTADOS EN EL CURSO DE ESTE ACUERDO CON TODOS SUS DEFECTOS, Y EL RIESGO EN CUANTO A LA CALIDAD, RENDIMIENTO, PRECISI&Oacute;N Y EL ESFUERZO DEL USUARIO. NOSOTROS Y NUESTROS SOCIOS NO TENEMOS NINGUNA RESPONSABILIDAD RESPECTO AL USO DE LA INFORMACI&Oacute;N O CUALQUIER OTRO CONTENIDO DISPONIBLE DESDE LA P&Aacute;GINA, O EN LA P&Aacute;GINA EN S&Iacute;. EN PARTICULAR, AUNQUE NO COMO UNA LIMITACI&Oacute;N DEL MISMO, NOSOTROS Y NUESTROS SOCIOS NO SOMOS RESPONSABLES POR DA&Ntilde;OS Y PERJUICIOS, DA&Ntilde;OS INDIRECTOS, ESPECIALES O EMERGENTES (INCLUIDOS LOS DA&Ntilde;OS POR P&Eacute;RDIDA DE NEGOCIO, P&Eacute;RDIDA DE BENEFICIOS, LITIGIOS O SIMILARES), YA SEA BASADO EN EL INCUMPLIMIENTO DEL CONTRATO, EL INCUMPLIMIENTO DE LA GARANT&Iacute;A, AGRAVIO, RESPONSABILIDAD DEL PRODUCTO; NI POR CUALQUIER RECLAMACI&Oacute;N DE TERCEROS DE CUALQUIER NATURALEZA, INCLUSO SI SE HA ADVERTIDO DE LA POSIBILIDAD DE TALES DA&Ntilde;OS O RECLAMOS. LA NEGACI&Oacute;N DE DA&Ntilde;OS ESTABLECIDA ARRIBA ES UN ELEMENTO FUNDAMENTAL DE LA BASE DE LA NEGOCIACI&Oacute;N ENTRE M&Eacute;XICO Y USTED. LA INFORMACI&Oacute;N Y OTRO CONTENIDO EST&Aacute; DISPONIBLE EN, O A TRAV&Eacute;S DE ESTA P&Aacute;GINA, Y LA P&Aacute;GINA EN S&Iacute;, QUE NO SE OFRECER&Iacute;A SIN TALES LIMITACIONES. NING&Uacute;N CONSEJO O INFORMACI&Oacute;N, YA SEA ORAL O ESCRITA, QUE OBTENGA DE M&Eacute;XICO A TRAV&Eacute;S DE LA P&Aacute;GINA CREAR&Aacute; NINGUNA GARANT&Iacute;A, REPRESENTACI&Oacute;N O GARANT&Iacute;A QUE EST&Eacute; ESTIPULADA EXPRESAMENTE EN ESTE ACUERDO.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Los enlaces a otras p&aacute;ginas web:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>La p&aacute;gina puede ahora, o en el futuro, contener enlaces a p&aacute;ginas web de terceros. Nosotros no controlamos, investigamos, supervisamos o comprobamos dichas p&aacute;ginas web, no nos hacemos responsables de los programas de ordenador disponibles, contenido u opiniones expresadas en dichas p&aacute;ginas web, y no las investigamos, supervisamos o comprobamos. Proporcionamos dichos enlaces de terceros &uacute;nicamente para comodidad de los visitantes de la p&aacute;gina, y la inclusi&oacute;n de un enlace no implica la aprobaci&oacute;n o la des-aprobaci&oacute;n de la p&aacute;gina vinculada por nosotros. Si usted decide abandonar la p&aacute;gina y acceder a cualquier p&aacute;gina web de terceros, lo hace bajo su propio riesgo.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Informaci&oacute;n y Comunicados de prensa:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>La p&aacute;gina puede contener entrevistas, debates, comunicados de prensa y otra informaci&oacute;n (colectivamente, &quot;Informaci&oacute;n&quot;) acerca de nosotros, nuestra empresa y nuestros servicios, incluyendo enlaces a p&aacute;ginas web de terceros que contengan dicha informaci&oacute;n, que se est&eacute; proporcionando a conveniencia de los visitantes de la p&aacute;gina. A pesar de que toda la informaci&oacute;n preparada por <span style="color:rgb(220,161,13);">Wini.es</span> se cree exacta a partir de la fecha de preparaci&oacute;n, negamos cualquier derecho u obligaci&oacute;n de actualizar cualquier informaci&oacute;n. No se debe confiar en que declaraciones referentes a empresas distintas de <span style="color:rgb(220,161,13);">Wini.es</span> que est&eacute;n contenidas en dicha informaci&oacute;n fueran facilitadas o endosadas por nosotros. Las opiniones expresadas en cualquier informaci&oacute;n, incluyendo los empleados y agentes de <span style="color:rgb(220,161,13);">Wini.es</span>, son exclusivamente las del autor y no reflejan necesariamente el parecer de <span style="color:rgb(220,161,13);">Wini.es</span>. Con respecto a la informaci&oacute;n que figura en los enlaces a p&aacute;ginas web de terceros, por favor consulte la secci&oacute;n &quot;Enlaces a otras p&aacute;ginas web&quot; arriba.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Comunicaciones de Visitantes:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Salvo disposici&oacute;n expresa en contra nuestra, todos los comentarios, retroalimentaci&oacute;n, informaci&oacute;n o materiales que usted env&iacute;e a trav&eacute;s o en asociaci&oacute;n con la p&aacute;gina se considerar&aacute; no confidencial. Al enviarnos dichos comentarios, opiniones, informaci&oacute;n o material:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<ul>
						    <li style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>i. Usted manifiesta y garantiza que el uso de <span style="color:rgb(220,161,13);">Wini.es</span> es bajo su responsabilidad y no contraviene ning&uacute;n acuerdo, no viola ninguna ley, o infringe los derechos de alg&uacute;n tercero</li>
						    <li style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>ii. Usted manifiesta y garantiza que tiene todos los derechos para aceptar este acuerdo</li>
						    <li style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>iii. Usted acepta que <span style="color:rgb(220,161,13);">Wini.es</span> es libre de utilizar de cualquier forma la totalidad o parte de los contenidos de cualquier comunicaci&oacute;n sin restricciones y sin la obligaci&oacute;n de notific&aacute;rselo, identificar o compens&aacute;rselo de cualquier otra forma;</li>
						    <li style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>iv. Usted concede a <span style="color:rgb(220,161,13);">Wini.es</span> todos los derechos necesarios, incluyendo la renuncia a toda la privacidad y los derechos morales, a utilizar todos los comentarios, retroalimentaci&oacute;n, informaci&oacute;n o material, en su totalidad o en parte, o como una obra derivada, sin ninguna obligaci&oacute;n por parte <span style="color:rgb(220,161,13);">Wini.es</span> a cualquiera que sea. No aceptamos ideas no solicitadas, obras u otros materiales y usted reconoce que usted es responsable de asumir todos los riesgos relativos a la utilizaci&oacute;n o distribuci&oacute;n de dichas ideas, obras o materiales.</li>
						    <li style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>iv. <span style="color:rgb(220,161,13);">Wini.es</span> proh&iacute;be expresamente la localizaci&oacute;n de las direcciones de correo electr&oacute;nico desde cualquier p&aacute;gina web (incluyendo todas las &aacute;reas de esta p&aacute;gina - miembros y no miembros) y opta expresamente por no recibir mensajes de correo electr&oacute;nico comerciales dirigidos a direcciones de correo electr&oacute;nico de <span style="color:rgb(220,161,13);">Wini.es</span> con dominio en M&eacute;xico que se hayan obtenido en violaci&oacute;n de lo anterior, o mediante el uso de software autom&aacute;tico de generaci&oacute;n de direcciones.</li>
						</ul>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br></p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Cookies:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><span style="color:rgb(220,161,13);">Wini.es</span> hace uso de cookies. Las cookies son archivos que identifican en nuestro servidor a su ordenador. Las cookies por s&iacute; mismas no identifican al usuario individual, sino al ordenador utilizado. Muchas p&aacute;ginas hacen esto cada vez que un usuario visita su p&aacute;gina con el fin de realizar un seguimiento de los flujos de tr&aacute;fico. Los cookies propios s&oacute;lo registran aquellas &aacute;reas de la p&aacute;gina que hayan sido visitadas por el equipo y durante cierto tiempo. Usted puede evitar el uso de cookies mediante la configuraci&oacute;n de su navegador web, pero tenga en cuenta que esto puede dificultar algunas de las funcionalidades de la p&aacute;gina web.</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Datos, Terceros y cumplimiento de la Ley de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de Terceros:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Toda la informaci&oacute;n presentada en esta p&aacute;gina se lleva a cabo de manera segura y transfiere a las partes interesadas a trav&eacute;s de un servidor seguro, de conformidad con la Ley de Protecci&oacute;n de Datos de 1998. Si pasamos su informaci&oacute;n a terceros nos aseguramos de que su informaci&oacute;n personal ser&aacute; tratada con la misma seguridad y confidencialidad</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'><br>Confirmo que soy mayor de edad (18 a&ntilde;os o m&aacute;s cumplidos)</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Actualizado 05/08/2020</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Preguntas:</p>
						<p style='margin:0px;font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:"Helvetica Neue";'>Multigenios SA de CV: Av. Paseo de las Palmas #735, Lomas de Chapultepec I Secci&oacute;n, Miguel Hidalgo, 11000, Ciudad de M&eacute;xico, M&eacute;xico</p><p class="text-center mt-5">
							<a href="/step1" class="btn btn-primary btn-rounded btn-lg px-3 px-md-5">Quiero probar el servicio</a>
						</p>
					</div>
				</div>
			</div>
		</section>
